<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSL TEST</title>
    <link rel="stylesheet" type="text/css" href="{% static 'test_ssl/style.css' %}">
</head>
<body>
    <div class="center_form">
        <h2>Check IPs: </h2>
        <form action="submit" method="post" >
            {% csrf_token %}
            <label for="iprange">IP range: </label>
            <input type="text" name="iprange" size="40"/>
            <br><br>
            <input type="submit" name="ipsubmit" value="Check"/>
        </form>
    </div>
</body>
</html>